img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}
.grid_1 {
    @media (width>800px) {
        display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;  
  img {
    padding: 0px;
    align-self: stretch;
    object-fit: cover;
  }
}
#img_1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
#img_2 {
  grid-column: 3;

}
#img_3 {
  grid-column: 4;

}
#img_4 {
  grid-column: 3 / span 2;
  grid-row: 2;
}
    }

